.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml

/docker/php-fpm/php.ini
/mysql-data

/node_modules
/vendor

/public/hot
/public/storage
/storage/*.key